{% extends 'layout.html' %}

{% block body %}
  <h1><b>About US</b></h1>

  <p>This article walks you through the process of building a simple to-do list application using Flask. It covers setting up a Flask project, creating routes and templates, handling form submissions, and working with a database to store tasks
    his article demonstrates how to build a URL shortening service using Flask. It covers generating short URLs, redirecting to the original long URLs, and storing URL mappings in a database.
    Flask is a lightweight web framework written in Python that allows developers to build web applications quickly and efficiently. It follows the Model-View-Controller (MVC) architectural pattern and provides a flexible and modular structure for creating web applications.
    At its core, Flask is designed to be simple and minimalistic, focusing on the essentials of web development. It does not come bundled with additional features and libraries like larger frameworks such as Django, which gives developers the freedom to choose and integrate only the components they need. This lightweight nature makes Flask an ideal choice for small to medium-sized projects, APIs, and prototypes.
    One of the key features of Flask is its routing system. Routing defines how URLs are mapped to functions within the application. Flask provides decorators that allow developers to define routes easily, specifying the URL pattern and the associated function that handles the request. This simplicity makes it straightforward to create different routes and handle various HTTP methods, such as GET, POST, PUT, and DELETE.
  </p>
  <p>
      Thank you for joining us on this journey!.
  </p>
  <style>
    p {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: justify;
      min-height: 40vh;
      font-size: 10;
      margin: 0;
      padding: 0;
    }
  </style>

{% endblock %}
